.items{
    display: flex;
    flex-direction:row;
    width: auto;
    gap:2rem;
    align-items: center;
    
}
.front{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: steelblue;
    
}
.back{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: steelblue;
}
.back:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 1px  steelblue;
}
.front:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 1px  steelblue;
}