@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.list-headers{
    list-style: none;
    align-items: center;
    margin: 0px;
    
    
    
}
.list-items{
    padding: 10px;
    font-family: 'Open Sans',serif;
    
}
.primary-header{
    width: 90%;
    margin-top: 0px;
}
@media (max-width:35em) {
    .list-headers{
        flex-direction: column;
        justify-content: center;
        position: sticky;
        background:hsl(0, 0%, 100% /0.5);
        padding-top: 5em;
        padding-left: 5px;
        width: 25vw;
        
        


      
        
       
       
    }
    .list-items{
        padding: 10px;
        
    }
    .first-header{
        width: max-content;
        height: max-content;
    }

    
}


.mybox-1{
    background-color:black;
     padding: 5px;
     border:2px,solid,black;
     border-radius: 10px;
     text-align: center;
     cursor: pointer;
     font-size: 20px;
     box-shadow:10px 5px 5px rgba(0, 0, blue, 0.5)
    
    }
.mybox-2{
        background-color:white;
         padding: 5px;
         border:2px,solid,black;
         border-radius: 10px;
         text-align: center;
         cursor: pointer;
         font-size: 20px;
         box-shadow:10px 5px 5px rgba(0, 0, blue, 0.5)
        
        }
    #btn-1{
      cursor: pointer;
    }
    #btn-1:hover{
      color:black;
      
    }


